.sidebar {
  background: #ffffff;
  height: 100vh;
  border-right: 1px solid #e5e7eb;

  display: flex;
  flex-direction: column;

  position: fixed;
  left: 0;
  top: 0;

  width: 240px;
  z-index: 1100;

  transition:
    transform 0.3s ease,
    width 0.3s ease;
}

.sidebar.open {
  width: 240px;
}
.sidebar.closed {
  width: 80px;
}

.sidebar-header {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  height: 70px;
}

.logo-img {
  width: 35px;
  height: 35px;
  object-fit: contain;
}

.brand-name {
  font-size: 18px;
  font-weight: 700;
  color: #111827;
}

/* LABEL */
.menu-label {
  font-size: 11px;
  font-weight: 600;
  color: #9ca3af;
  padding: 16px 0 6px 20px;
  letter-spacing: 1px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 12px 16px;

  text-decoration: none;
  color: #374151;

  border-radius: 12px;
  margin: 4px 10px;
  gap: 14px;

  transition: all 0.2s ease;
}

.menu-item img {
  width: 20px;
  height: 20px;
  opacity: 0.8;
}

.menu-item:hover {
  background: #fff4ed;
  color: #ff6a00;
}

.menu-item:hover img {
  filter: invert(53%) sepia(87%) saturate(2613%) hue-rotate(6deg)
    brightness(101%) contrast(101%);
  opacity: 1;
}

.menu-item.active {
  background: #fff4ed;
  color: #ff6a00;
  font-weight: 600;
}

.menu-item.active img {
  filter: invert(53%) sepia(87%) saturate(2613%) hue-rotate(6deg)
    brightness(101%) contrast(101%);
  opacity: 1;
}

@media (min-width: 1025px) {
  .sidebar {
    transform: translateX(0);
  }

  .sidebar.open {
    width: 240px;
  }

  .sidebar.closed {
    width: 80px;
  }
}

@media (max-width: 1024px) and (orientation: portrait) {
  .sidebar {
    width: 240px;
    transform: translateX(-100%);
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .sidebar.closed {
    transform: translateX(-100%);
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .sidebar {
    width: 240px;
    transform: translateX(-100%);
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .sidebar.closed {
    transform: translateX(-100%);
  }
}

@media (max-width: 767px) {
  .sidebar {
    height: auto;
    min-height: 100%;
    top: 0;
    bottom: 0;
  }
}
