.sidebar {
  background: white;
  height: 100vh;
  transition: width 0.3s ease;
  border-right: 1px solid #f0f0f0;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

.sidebar.open {
  width: 240px;
}
.sidebar.closed {
  width: 80px;
}

.sidebar-header {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  height: 70px;
}
.logo-img {
  width: 35px;
  height: 35px;
  object-fit: contain;
}
.brand-name {
  font-size: 18px;
  font-weight: 700;
  color: #333;
}

.sidebar-menu {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.menu-label {
  font-size: 11px;
  font-weight: 600;
  color: #bfbfbf;
  padding: 15px 0 5px 15px;
  letter-spacing: 1px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 12px 15px;
  text-decoration: none;
  color: #6c757d;
  border-radius: 10px;
  margin-bottom: 4px;
  gap: 15px;
  transition: all 0.2s;
}

.menu-item img {
  width: 20px;
  height: 20px;
  opacity: 0.7;
}

.menu-item:hover {
  background-color: #f8f9fa;
}
.menu-item.active {
  background-color: #fff1f2;
}
.menu-item.active img {
  filter: invert(13%) sepia(91%) saturate(5437%) hue-rotate(346deg)
    brightness(91%) contrast(109%);
  opacity: 1;
}

/* Footer (Tombol Keluar) */
.sidebar-footer {
  padding: 20px;
  border-top: 1px solid #f0f0f0;
}

.logout-btn {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  background: none;
  border: none;
  color: #ff4d4f;
  cursor: pointer;
  padding: 10px 15px;
  font-weight: 600;
}
